<div id="table-inputs" class="m-2">
  <button class="button" id="load-data-button">Tải dữ liệu</button>
  <button class="button" id="select-all-button">Chọn tất cả</button>
  <button class="button" id="deselect-all-button">Bỏ chọn tất cả</button>
  <button class="button is-primary" id="create-button">Thêm</button>
  <button class="button is-info" id="modify-button" disabled>Cập nhật</button>
  <button class="button is-danger" id="delete-button">Xóa</button>
  <input class="input is-primary" id="filter-input" type="text" placeholder="Nhập tên cần lọc" style="width: 500px;">
</div>
<div id="table" onchange="load()"></div>

<form id="confirm-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <p class="is-size-4 has-text-centered has-text-weight-bold pb-3">Bạn có chắc muốn xóa</p>
    <div class="field is-grouped columns is-justify-content-center py-4">
      <div class="control">
        <button id="confirm-modal-confirm" class="button column is-link is-inline-flex" type="button">Xác
          nhận</button>
      </div>
      <div class="control">
        <button id="confirm-modal-close" class="button column is-link is-light is-inline-flex" type="button">Hủy
          bỏ</button>
      </div>
    </div>
  </div>
</form>