<div class="container">
  <div class="has-text-centered is-uppercase has-text-weight-semibold is-size-3 my-2">Hoá đơn thanh toán</div>
  <div class="columns">
    <div class="column">Họ tên: <span class="has-text-weight-semibold">{{ b.name }}</span></div>
    <div class="column">Ngày khám: <span class="has-text-weight-semibold">{{ b.date }}</span></div>
  </div>
  <div class="my-2">Tiền thuốc: <span class="has-text-weight-semibold">{{ b.medicineFee }}</span></div>
    <div class="my-2">Tổng Tiền: <span class="has-text-weight-semibold">{{ b.examinationFee }}</span></div>

</div>