<div class="is-flex is-justify-content-center">

  <div class="container is-max-desktop">

    <div class="field">
      <label class="label">Tên đăng nhập</label>
      <div class="control">
        <input id="form-username" name="username" class="input" type="text" value="{{username}}" disabled>
      </div>
    </div>

    <div class="field">
      <label class="label">Mật khẩu</label>
      <div class="control">
        <input id="form-password" name="password" class="input" type="text" value="{{password}}" disabled>
      </div>
    </div>

    <div class="field">
      <label class="label">Số bệnh nhân tối đa trong một tháng</label>
      <div class="control">
        <input id="form-max-patient" name="maxPatient" class="input" type="number" value="{{maxPatient}}" disabled>
      </div>
    </div>

    <div class="field">
      <label class="label">Tiền khám</label>
      <div class="control">
        <input id="form-examination-fee" name="examinationFee" class="input" type="number" value="{{examinationFee}}"
          disabled>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button id="modify" class="button is-link" type="button">Sửa</button>
      </div>
      <div class="control">
        <button id="update" class="button is-link" type="button">Cập nhập</button>
      </div>
      <div class="control">
        <button id="cancel" class="button is-link is-light" type="button">Hủy bỏ</button>
      </div>
    </div>

  </div>
</div>

<script>
  const usernameInput = $("#form-username");
  const passwordInput = $("#form-password");
  const maxPatientInput = $("#form-max-patient");
  const examinationFeeInput = $("#form-examination-fee");

  const modifyButton = $("#modify");
  const updateButton = $("#update");
  const cancelButton = $("#cancel");

  updateButton.style.display = "none";
  cancelButton.style.display = "none";

  const setInputsDisabled = value => {
    usernameInput.disabled = value;
    passwordInput.disabled = value;
    maxPatientInput.disabled = value;
    examinationFeeInput.disabled = value;
  };

  modifyButton.onclick = () => {
    setInputsDisabled(false);
    modifyButton.style.display = "none"
    updateButton.style.display = "inline-flex";
    cancelButton.style.display = "inline-flex";

  };

  cancelButton.onclick = () => {
    setInputsDisabled(true);
    modifyButton.style.display = "inline-flex"
    updateButton.style.display = "none";
    cancelButton.style.display = "none";
  };
  $("#update").onclick = function (e) {
    const username = usernameInput.value;
    const password = passwordInput.value;
    const maxPatient = maxPatientInput.value;
    const examinationFee = examinationFeeInput.value;
    const hasError = false;
    const constraint = {
      username: username,
      password: password,
      maxPatient: maxPatient,
      examinationFee: examinationFee,
    }

    if (username.length === 0) {
      usernameInput.classList.add("is-danger");
      hasError = true;
    }
    if (password.length === 0) {
      passwordInput.classList.add("is-danger");
      hasError = true;
    }
    if (maxPatient.length === 0) {
      maxPatientInput.classList.add("is-danger");
      hasError = true;
    } if (examinationFee.length === 0) {
      examinationFee.classList.add("is-danger");
      hasError = true;
    }
    if (hasError) {
      return;
    }
    fetch('/constraint/edit', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json', },
      body: JSON.stringify(constraint),
    })
      .then(response => { response.json(); })
      .then(data => { console.log('Success:', data); })
      .catch((error) => { console.error('Error:', error); });
  }

</script>