<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
  <link rel="stylesheet" href="/tabulator_bulma.min.css">
  <script type="text/javascript" src="/tabulator.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <script>
    function $(selector) {
      return document.querySelector(selector);
    };

    const tabulatorConfig = {
      layout: "fitColumns",
      selectable: true,
      height: "88vh",
      selectableRangeMode: "click",
      placeholder: "Không có dữ liệu",
    };

  </script>
</head>

<body>

  <nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/checkup">Phiếu Khám</a>
        <a class="navbar-item" href="/patient">Bệnh Nhân</a>
        <a class="navbar-item" href="/disease">Bệnh</a>
        <a class="navbar-item" href="/medicine">Thuốc</a>
        <a class="navbar-item" href="/unit">Đơn Vị</a>
        <a class="navbar-item" href="/usermanual">Hướng Dẫn Sử Dụng</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Báo Cáo</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/report/revenue">Doanh Thu</a>
            <a class="navbar-item" href="/report/medicine">Thuốc</a>
          </div>
        </div>

        <a class="navbar-item" href="/constraint">Quy Định</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-danger" href="/user/logout">
            Đăng xuất
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="mx-2">
    {{{body}}}
  </div>
</body>

</html>