<div class="container is-flex is-justify-content-center is-align-items-center" style="height: 100vh">
  <form class="box" action="/user/login" method="post">
    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    <div class="field">
      <label class="label">Tài khoản</label>
      <div class="control">
        <input class="input" type="text" name="username">
      </div>
    </div>

    <div class="field">
      <label class="label">Mật Khẩu</label>
      <div class="control">
        <input class="input" type="password" name="password">
      </div>
    </div>

    <button type="submit" class="button is-primary">Đăng nhập</button>
  </form>
</div>

<script>
  $("#main-navbar").classList.add("is-hidden")
</script>