<div class="m-2">
  <button class="button" id="load-data-button">Tải dữ liệu</button>
  <button class="button" id="select-all-button">Chọn tất cả</button>
  <button class="button" id="deselect-all-button">Bỏ chọn tất cả</button>
  <button class="button is-primary" id="create-button">Thêm</button>
  <button class="button is-info" id="modify-button" disabled>Cập nhật</button>
  <button class="button is-danger" id="delete-button">Xóa</button>
  <input class="input is-primary" id="filter-input" type="text" placeholder="Nhập tên cần lọc" style="width: 500px;">
</div>
<div id="table"></div>

<form id="modify-modal" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content box">
    <div class="field">
      <label class="label">Tên</label>
      <div class="control">
        <input id="modify-modal-name" name="name" class="input" type="text" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Giới tính</label>
      <div class="control">
        <div class="select">
          <select id="modify-modal-gender" name="gender" required>
            <option>Nam</option>
            <option>Nữ</option>
          </select>
        </div>
      </div>modal
    </div>

    <div class="field">
      <label class="label">Năm sinh</label>
      <div class="control">
        <input id="modify-modal-year-of-birth" , name="yearOfBirth" class="input" type="number" required>
      </div>
    </div>

    <div class="field">
      <label class="label">Địa chỉ</label>
      <div class="control">
        <input id="modify-modal-address" name="address" class="input" type="text">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button id="modify-modal-confirm" class="button is-link" type="button">Cập nhập</button>
      </div>
      <div class="control">
        <button id="modify-modal-close" class="button is-link is-light" type="button">Hủy bỏ</button>
      </div>
    </div>
  </div>
</form>

<form id="delete-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <p class="is-size-4 has-text-centered has-text-weight-bold pb-3">Bạn có chắc muốn xóa?</p>
    <div class="field is-grouped columns is-justify-content-center py-4">
      <div class="control">
        <button id="delete-modal-confirm" class="button column is-link is-inline-flex" type="button">Xác
          nhận</button>
      </div>
      <div class="control">
        <button id="delete-modal-close" class="button column is-link is-light is-inline-flex" type="button">Hủy
          bỏ</button>
      </div>
    </div>
  </div>
</form>


<script>
  const table = new Tabulator("#table", {
    ...tabulatorConfig,
    columns: [
      { title: "id", field: "id", visible: false },
      { title: "STT", field: "STT", formatter: "rownum", width: 100 },
      { title: "Tên", field: "name", sorter: "string" },
      { title: "Giới tính", field: "gender", sorter: "string" },
      { title: "Năm sinh", field: "yearOfBirth", sorter: "number", width: 150 },
      { title: "Địa chỉ", field: "address", sorter: "string" },
    ],
  });

  $("#load-data-button").onclick = function () { table.setData("/api/fake/patient"); };
  $("#select-all-button").onclick = function () { table.selectRow(); };
  $("#deselect-all-button").onclick = function () { table.deselectRow(); }

  const modifyButton = $("#modify-button");
  const deleteButton = $("#delete-button");
  let sCreate = false;

  const formModal = $("#modify-modal");
  const nameModifyModalInput = $("#modify-modal-name");
  const genderModifyModalInput = $("#modify-modal-gender");
  const yearOfBirthModifyModalInput = $("#modify-modal-year-of-birth");
  const addressModifyModalInput = $("#modify-modal-address");

  const deleteFormModal = $("#delete-modal");

  table.on("rowSelectionChanged", function (data, rows) {
    modifyButton.disabled = data.length !== 1;
    deleteButton.disabled = data.length === 0;
  });

  $("#create-button").onclick = function () {
    isCreate = true;
    formModal.classList.add("is-active");
  };

  modifyButton.onclick = function () {
    isCreate = false;
    const row = table.getSelectedData()[0];
    nameModifyModalInput.value = row.name;
    yearOfBirthModifyModalInput.value = row.yearOfBirth;
    addressModifyModalInput.value = row.address;
    formModal.classList.add("is-active");
  };

  deleteButton.onclick = function () { deleteFormModal.classList.add("is-active"); };

  $("#filter-input").onchange = function (e) {
    table.setFilter("name", "like", e.target.value);
  };

  $("#modify-modal-close").onclick = function () { formModal.classList.remove("is-active"); };
  $("#modify-modal-confirm").onclick = function (e) {
    e.preventDefault();
    
    const name = nameModifyModalInput.value;
    const gender = genderModifyModalInput.value;
    const yearOfBirth = yearOfBirthModifyModalInput.value;
    const address = addressModifyModalInput.value;
    const hasError = false;

    if (name.length === 0) {
      nameModifyModalInput.classList.add("is-danger");
      hasError = true;
    }
    if (address.length === 0) {
      addressModifyModalInput.classList.add("is-danger");
      hasError = true;
    }
    if (hasError) {
      return;
    }

    if (isCreate) {
      table.addData([ {id: Math.round(Math.random() * 10000), name, gender, yearOfBirth, address} ], true);
    } else {
      table.updateData([{ id: table.getSelectedData()[0].id, name, gender, yearOfBirth, address }]);
    }

    formModal.classList.remove("is-active");
    table.deselectRow();
  }

  $("#delete-modal-close").onclick = function () { deleteFormModal.classList.remove("is-active") }
  $("#delete-modal-confirm").onclick = function () {
    table.deleteRow(table.getSelectedData().map(function (r) { return r.id; }));
    deleteFormModal.classList.remove("is-active");
    table.deselectRow();
  }
</script>