<div class="m-2">
  <label class="button" style="border: none;">Tháng</label>
  <input class="input is-primary" style="width: 200px;" id="bday-month" type="month" name="bday-month">
</div>
<div id="table"></div>

<script>
  const TABLE_COLUMNS = [
    { title: "id", field: "id", visible: false },
    { title: "STT", field: "STT", formatter: "rownum", width: 100 },
    { title: "Ngày", field: "date", sorter: "number" },
    { title: "Số bệnh nhân", field: "countOfPatient", sorter: "number" },
    { title: "Doanh thu", field: "sumOfFee", sorter: "number" },
    { title: "Tỷ lệ", field: "percentage", sorter: "number" },
  ];
  const table = new Tabulator("#table", {
    layout: "fitColumns",
    selectable: true,
    height: "88vh",
    selectableRangeMode: "click",
    placeholder: "Không có dữ liệu",
    columns: TABLE_COLUMNS,
  });
const DATA_URL = "/api/fake/reportRevenue/";

$("#bday-month").onchange= function() {
    table.setData(DATA_URL+this.value)
}


</script>
