<div class="m-2">
  <div class="select">
    <select>
      <option>Chọn Tháng</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
</div>
<div id="table"></div>

<script>
  const TABLE_COLUMNS = [
    { title: "id", field: "id", visible: false },
    { title: "STT", field: "STT", formatter: "rownum", width: 100 },
    { title: "Đơn vị tính", field: "unit", sorter: "string" },
    { title: "Số lượng", field: "number", sorter: "number" },
    { title: "Số lần dùng", field: "useTime", sorter: "number" },
  ];

  const table = new Tabulator("#table", {
    layout: "fitColumns",
    selectable: true,
    height: "88vh",
    selectableRangeMode: "click",
    placeholder: "Không có dữ liệu",
    columns: TABLE_COLUMNS,
  });

</script>