{{> table-modifiers}}

<form id="modify-modal" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content box">
    <div class="field">
      <label class="label">Đơn vị</label>
      <div class="control">
        <input id="modify-modal-description" name="type" class="input" type="text" required>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button id="modify-modal-confirm" class="button is-link" type="submit">Cập nhập</button>
      </div>
      <div class="control">
        <button id="modify-modal-close" class="button is-link is-light" type="button">Hủy bỏ</button>
      </div>
    </div>
  </div>
</form>

<script>
  const TABLE_COLUMNS = [
    { title: "id", field: "id", visible: false },
    { title: "STT", field: "STT", formatter: "rownum", width: 100 },
    { title: "Đơn vị", field: "type", sorter: "string" },
  ];

  const DATA_URL = "/api/fake/unit";

  const formModal = $("#modify-modal");
  const descriptionModifyModalInput = $("#modify-modal-description");

  const onCreateButtonClicked = () => { formModal.classList.add("is-active"); }
  const onConfirmModalConfirmButtonClicked = (table) => {
    fetch('/unit/delete', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json', },
      body: JSON.stringify(table.getSelectedData()),
    })
      .then(response => { response.json(); })
      .then(data => { console.log('Success:', data); })
      .catch((error) => { console.error('Error:', error); });
    table.deleteRow(table.getSelectedData().map(function (r) { return r.id; }));
  }
  const onModifyButtonClicked = row => {
    descriptionModifyModalInput.value = row.type;
  };

  $("#modify-modal-close").onclick = function () { formModal.classList.remove("is-active"); };
  $("#modify-modal-confirm").onclick = function (e) {
    e.preventDefault();

    const type = descriptionModifyModalInput.value;

    if (type.length === 0) {
      descriptionModifyModalInput.classList.add("is-danger");
      return;
    }
    const unit = {
      type: type,
    }
    if (isCreate) {
      table.addData([{ id: Math.round(Math.random() * 10000), type }], true);
      fetch('/unit/add', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json', },
        body: JSON.stringify(unit),
      })
        .then(response => { response.json(); })
        .then(data => { console.log('Success:', data); })
        .catch((error) => { console.error('Error:', error); });
      formModal.reset()
      table.setData(DATA_URL);
    } else {
      unit.id = table.getSelectedData()[0].id
      table.updateData([{ id: table.getSelectedData()[0].id, type }]);
      fetch('/unit/edit', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json', },
        body: JSON.stringify(unit),
      })
        .then(response => { response.json(); })
        .then(data => { console.log('Success:', data); })
        .catch((error) => { console.error('Error:', error); });
    }

    formModal.classList.remove("is-active");
    table.deselectRow();
  };
</script>

{{> table-modifiers-script}}